.login-container {
    background: #ffe9b8;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.login-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.password-container {
    position: relative;
}
.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
}
.login-container button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}
.pushable {
    background: #995200;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #c46800;
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.createbtn {
    background: #218838;
    border-radius: 5px;
    border:none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.back {
    display: block;
    padding: 6px 36px;
    border-radius: 6px;
    font-size: 0.75rem;
    background: #28a745;
    color: white;
    transform: translateY(-6px);
}

.createbtn:active .back {
    transform: translateY(-2px);
}

#errorMessage {
    color: red;
    font-size: 12px;
    margin: 10px 0;
    display: none; /* Initially hidden - change visibility when needed*/  
}

.email_container {
    margin-bottom: 30px;
}